body {
  background-color: rgb(40, 40, 40);
  text-align: center;
  user-select: none;
  font-family: 'Comic Sans MS';
}

a {
  text-decoration: none;
  display: inline;
  font-weight: bolder;
}

#title {
  font-size: 37pt;
  color: azure;
  letter-spacing: 6.9px;
  font-weight: bold;
  text-shadow: 0px 0px 10px red;
}

.board {
  display: inline-block;
  box-shadow: 0px 0px 10px black;
  background-color: rgb(5, 5, 29);
  border-radius: 15px;
  vertical-align: middle;
}

.row {
  height: 40px;
  width: 240px;
  display: inline-flex;
  align-items: center;
  padding: 6.9px;

  justify-content: space-evenly;
}

.tile {
  border-radius: 6.9px;
  box-shadow: 0px 0px 4px gainsboro;

  align-content: center;
  width: 40px; height: 40px;
  display: inline-flex;
  background-color: rgb(69, 69, 69);

  align-items: center;
  justify-content: center;
  font-size: 24pt;
  color: lightgray;
  font-weight: bold;
}

#keyboard {
  position: sticky;
  bottom: 0px;
  line-height: 4px;
}

.keyboardRow {
  width: 500px;
  display: flex;
  margin-left: auto; margin-right: auto;
  justify-content: space-between;
}

.keyboardRowSmall {
  width: 450px;
}

.keyboard {
  cursor: pointer;
  border-radius: 5px;
  height: 60px;
  min-width: 45px;
  font-size: 30pt;
  color: aliceblue;
  background-color: rgb(2, 2, 2);
  display: inline-block;
  vertical-align: middle;
}

#delete {
  border-radius: 50px 10px 10px 50px;
  width: 70px;
  padding-left: 11px;
}

#submit {
  border-radius: 10px 50px 50px 10px;
  width: 70px;
}

#message {
  position: fixed;
  width: 450px;
  height: 150px;
  box-shadow: 0px 0px 2px black;
  font-size: 30pt;
  text-shadow: 0px 0px 2px red;
  color: azure;
  right: -460px; bottom: 10px;
  background-color: rgb(35,35,35);

  display: flex;

  justify-content: center;
  align-items: center;

  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: msg;
}

.animatable {
  animation-play-state: paused;
}

@keyframes msg {
  0%, 100% {
    right: -460px;
    opacity: 0;
  }
  15%, 85% {
    right: 10px;
    opacity: 1;
  }
}

.animation {
  animation-play-state: running;
}

.halfGood {
  background-color: gold;
}

.good {
  background-color: rgb(40, 156, 40);
}

#more{
  position: fixed;

  display: flex;

  min-width: 80px; min-height: 0px;

  right: 0.5vw;
  top: 0.5vh;

  padding-top: 80px;
  background-color: rgb(40, 40, 40);
  box-shadow: 0px 0px 3px goldenrod;
  border: 1px solid gold;
  border-radius: 20px;

  overflow: hidden;
}

#more-info {
  width: 100%;
  font-size: 25pt;
  display: flexbox;

  color: antiquewhite;

  justify-content: center;
  align-items: center;
}

#more button {
  position: absolute;

  right: 10px; top: 10px;

  cursor: pointer;
  border-radius: 25px;
  height: 60px;
  width: 60px;
  font-size: 30pt;
  color: aliceblue;
  background-color: rgb(2, 2, 2);
  display: flex;
  
  justify-content: center;
  align-items: center;
}

#disclaimer {
  color: white;
  position: absolute;
  top: 0.5vh;
  left: 0.5vw;
}

#gameSeed {
  position: fixed;
  width: 450px;
  height: 150px;
  box-shadow: 0px 0px 2px black;
  font-size: 30pt;
  text-shadow: 0px 0px 2px red;
  color: azure;
  left: 10px; bottom: 10px;
  background-color: rgb(35,35,35);
}

#gameSeed input {
  width: 200px;
}

#gameSeed button, #gameSeed input {
  border-radius: 6.9px;
  background-color: rgb(69, 69, 69);
  font-size: 14pt;
  color: lightgray;
  font-weight: bold;
  text-align: center;
}

.gone {
  display: none;
}

.buttonOff{
  background-color: gray;
}